In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('data.csv', encoding= 'unicode_escape')

## Initial EDA

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12-01-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12-01-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12-01-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12-01-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12-01-2010 08:26,3.39,17850.0,United Kingdom

In [4]:
df.info() # Nearly 25% missing data in CustomerID.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
# Why is InvoiceNo object? Converting the col into integer throws as error, apparently some invoice no. begins with 'C'.

# df.InvoiceNo.astype(int)

In [6]:
df.loc[df['InvoiceNo'].str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12-01-2010 09:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12-01-2010 09:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12-01-2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12-01-2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12-01-2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12-09-2011 09:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12-09-2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12-09-2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12-09-2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12-09-2011 11:58,1.25,17315.0,United Kingdom

In [7]:
# InvoiceNo starting with 'C' have negative quantity values, they likely indicate a return and I confirm this in the next cell.

df.loc[df['InvoiceNo'].str.startswith('C')]['Quantity'].describe()

count     9288.000000
mean       -29.885228
std       1145.786965
min     -80995.000000
25%         -6.000000
50%         -2.000000
75%         -1.000000
max         -1.000000
Name: Quantity, dtype: float64

In [8]:
# This is a sample customer that regularly purchases Victorian Sewing Box and three times the customer has partially returned
# some of the order items. We can confirm this for other sample customers with negative order quantity values as well.

df.loc[(df['CustomerID']==15311) & (df['Description']=='VICTORIAN SEWING BOX LARGE')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9197,537195,21258,VICTORIAN SEWING BOX LARGE,8,12-05-2010 13:55,10.95,15311.0,United Kingdom
21364,538076,21258,VICTORIAN SEWING BOX LARGE,8,12-09-2010 14:15,10.95,15311.0,United Kingdom
28606,C538650,21258,VICTORIAN SEWING BOX LARGE,-1,12/13/2010 15:05,10.95,15311.0,United Kingdom
44161,540157,21258,VICTORIAN SEWING BOX LARGE,8,01-05-2011 11:41,10.95,15311.0,United Kingdom
420280,572885,21258,VICTORIAN SEWING BOX LARGE,1,10/26/2011 13:45,12.75,15311.0,United Kingdom
432260,573865,21258,VICTORIAN SEWING BOX LARGE,8,11-01-2011 12:00,10.95,15311.0,United Kingdom
520453,580284,21258,VICTORIAN SEWING BOX LARGE,8,12-02-2011 13:21,10.95,15311.0,United Kingdom
530911,C580886,21258,VICTORIAN SEWING BOX LARGE,-5,12-06-2011 12:25,10.95,15311.0,United Kingdom
531140,580904,21258,VICTORIAN SEWING BOX LARGE,8,12-06-2011 12:59,10.95,15311.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12-09-2011 11:57,10.95,15311.0,United Kingdom
541744,581571,21258,VICTORIAN SEWING BOX LARGE,8,12-09-2011 12:00,10.95,15311.0,United Kingdom

In [9]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [10]:
# There are only two instances with -ve UnitPrice and they represent an adjustment for bad debt.

df.loc[df['UnitPrice']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,08-12-2011 14:51,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,08-12-2011 14:52,-11062.06,NaN,United Kingdom

In [11]:
# There are also more than 2500 instances where unit price is ZERO. They seem to be free giveouts on certain orders, which
# I confirm later in this notebook.

df.loc[df['UnitPrice']==0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12-01-2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12-01-2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12-01-2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12-01-2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12-01-2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12-08-2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12-08-2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12-08-2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12-08-2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12-08-2011 15:24,0.0,NaN,United Kingdom

In [12]:
# I had an incorrect intuition that customer ids are not recorded for free giveaways, I was wrong. Although, for a good number
# of orders with free items, customer id is not recorded.

# df.loc[(df['UnitPrice']==0) & (df['CustomerID'].notnull())]

In [13]:
# I had an intuition that free giveaways accompany other orders and I seem to be right about it. Replace the InvoiceNo
# in the following code with other InvoiceNo from the above table (where UnitPrice=0) to confirm it.

df.loc[df['InvoiceNo']=='562973']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
298045,562973,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,144,08-11-2011 11:42,1.06,14911.0,EIRE
298046,562973,22966,GINGERBREAD MAN COOKIE CUTTER,144,08-11-2011 11:42,1.06,14911.0,EIRE
298047,562973,22623,BOX OF VINTAGE JIGSAW BLOCKS,72,08-11-2011 11:42,4.95,14911.0,EIRE
298048,562973,22560,TRADITIONAL MODELLING CLAY,144,08-11-2011 11:42,1.06,14911.0,EIRE
298049,562973,22561,WOODEN SCHOOL COLOURING SET,72,08-11-2011 11:42,1.45,14911.0,EIRE
298050,562973,22491,PACK OF 12 COLOURED PENCILS,48,08-11-2011 11:42,0.85,14911.0,EIRE
298051,562973,22274,FELTCRAFT DOLL EMILY,24,08-11-2011 11:42,2.95,14911.0,EIRE
298052,562973,21889,WOODEN BOX OF DOMINOES,80,08-11-2011 11:42,1.25,14911.0,EIRE
298053,562973,21790,VINTAGE SNAP CARDS,144,08-11-2011 11:42,0.72,14911.0,EIRE
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,08-11-2011 11:42,0.00,14911.0,EIRE

In [14]:
df.loc[(df['UnitPrice']==0) & (df['Quantity']<0)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
2406,536589,21777,NaN,-10,12-01-2010 16:50,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,12-02-2010 14:42,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,12-03-2010 15:30,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,12-03-2010 15:30,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,12-03-2010 15:30,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535333,581210,23395,check,-26,12-07-2011 18:36,0.0,NaN,United Kingdom
535335,581212,22578,lost,-1050,12-07-2011 18:38,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,12-07-2011 18:38,0.0,NaN,United Kingdom
536908,581226,23090,missing,-338,12-08-2011 09:56,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12-08-2011 15:24,0.0,NaN,United Kingdom

In [15]:
# Some of the free orders are also returned and unlike normal returns, they don't have 'C' prefix in their InvoiceNo.

df.loc[(df['UnitPrice']==0) & (df['Quantity']<0) & (df['Description'].notnull())]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7313,537032,21275,?,-30,12-03-2010 16:50,0.0,NaN,United Kingdom
13217,537425,84968F,check,-20,12-06-2010 15:35,0.0,NaN,United Kingdom
13218,537426,84968E,check,-35,12-06-2010 15:36,0.0,NaN,United Kingdom
13264,537432,35833G,damages,-43,12-06-2010 16:10,0.0,NaN,United Kingdom
21338,538072,22423,faulty,-13,12-09-2010 14:10,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535333,581210,23395,check,-26,12-07-2011 18:36,0.0,NaN,United Kingdom
535335,581212,22578,lost,-1050,12-07-2011 18:38,0.0,NaN,United Kingdom
535336,581213,22576,check,-30,12-07-2011 18:38,0.0,NaN,United Kingdom
536908,581226,23090,missing,-338,12-08-2011 09:56,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12-08-2011 15:24,0.0,NaN,United Kingdom

Findings so far
- Nearly 25% rows don't have CustomerID.
- InvoiceNo starting with 'C' are likely return orders.
- There are two instances of adjustments for bad debts and are indicated with a -ve unit price.
- The company seems to like to giveaway a lot of free items on certain orders.
- Some of the free items that are faulty are also refunded for and thus a -ve order quantity for free items.

## Missing CustomerIDs

I have treated missing customers as new customers for every unique invoice no. and have assigned a customer id same as the invoice no. to ensure that the customer ids are unique and that such customers are easily recognizable even after the imputation (CustomerID is a 5-digit no. where as a typical InvoiceNo consists of 6 digits.).

--

My initial thought was to match rows where the customer id was missing for other rows (where the customer id was not missing) with the same invoice no. since one invoice no. should carry only one customer id. However, as I have shown in the next cell, my intuition was wrong. Where the customer id is missing for a row with a particular invoice no., the customer id is also missing for all rows with the said invoice no.

How do I know this? There are a total of 25900 unique invoices (unique InvoiceNo). The total no. of unique invoices for rows with missing customer id is 3710 and that for rows where the customer id is not missing is 22190. The sum of these two numbers equals the total no. of unique invoices in the data. Had there been an InvoiceNo. with both kinds of rows (with and without missing CustomerID field), the sum would be greater than 25900 (the total no. of unique invoices) because that particular InvoiceNo would have been counted twice, which is not the case here.

In [16]:
print("Total No. of Unique InvoiceNo. - ", len(df.InvoiceNo.unique()))
print("Total No. of Unique InvoiceNo. for missing CustomerID field - ", len(df[df.CustomerID.isnull()].InvoiceNo.unique()))
print("Total No. of Unique InvoiceNo. where CustomerID is not missing - ", len(df[df.CustomerID.notnull()].InvoiceNo.unique()))

Total No. of Unique InvoiceNo. -  25900
Total No. of Unique InvoiceNo. for missing CustomerID field -  3710
Total No. of Unique InvoiceNo. where CustomerID is not missing -  22190

In [17]:
df.loc[df['CustomerID'].isnull(), 'CustomerID'] = df.InvoiceNo # Assigning CustomerID as InvoiceNo where the former is missing

In [18]:
df[df['CustomerID'].str.len()>5] # The above code worked.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12-01-2010 11:52,0.00,536414,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12-01-2010 14:32,2.51,536544,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12-01-2010 14:32,2.51,536544,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12-01-2010 14:32,0.85,536544,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12-01-2010 14:32,1.66,536544,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12-09-2011 10:26,4.13,581498,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12-09-2011 10:26,4.13,581498,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12-09-2011 10:26,4.96,581498,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12-09-2011 10:26,10.79,581498,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12-09-2011 10:26,1714.17,581498,United Kingdom

In [19]:
df.info() # There is no missing data in the CustomerID col.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

## RFM Analysis

Discussion

In [20]:
df.InvoiceDate = pd.to_datetime(df.InvoiceDate) # parsing datetime
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 33.1+ MB

In [22]:
df['invoice_date'] = df['InvoiceDate'].dt.date # Extracting the date out of datetime for easier calculation
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoice_date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01

In [23]:
df.invoice_date = pd.to_datetime(df.invoice_date)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,invoice_date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01

In [24]:
df.drop('InvoiceDate', inplace=True, axis=1) # Dropping the older InvoiceDate col.
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,invoice_date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01

In [25]:
# Transactions are up until the date 9th December 2011. To calculate recency, I will use the date 01-01-2012 as reference date.

df.invoice_date.max()

Timestamp('2011-12-09 00:00:00')

In [26]:
# Adding a new col. with the number of days since last purchase (using 01-01-2012 as our reference date).

df['days_since_last_order'] = (pd.to_datetime('2012-01-01') - df['invoice_date']).dt.days
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,invoice_date,days_since_last_order
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,396
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,396
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,396
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,396
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,396

In [27]:
# Calculating amount_paid as quantity*unitprice in a new col.

df['amount_paid'] = df['Quantity']*df['UnitPrice']
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,invoice_date,days_since_last_order,amount_paid
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,396,15.30
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,396,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,396,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,396,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,396,20.34

In [28]:
df.to_csv('output.csv') # For further analysis in Excel